#game-info {
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
}

.bomb-indicate {
  display: flex;
}

.stopwatch {
  display: flex;
}

#board {
  display: flex;
  flex-flow: row wrap;
}

.tile {
  width: 17px;
  height: 17px;
  background-image: url("../img/sprite.png");
  background-position: 0 -50px;
  cursor: pointer;
}
.tile:hover {
  opacity: 0.6;
}
.tile--flagged {
  background-position: -33px -50px;
}
.tile--focus, .tile--checked {
  background-position: -17px -50px;
}
.tile--one:hover, .tile--two:hover, .tile--three:hover, .tile--four:hover, .tile--five:hover, .tile--six:hover, .tile--seven:hover, .tile--eight:hover {
  opacity: 1;
}
.tile--one {
  background-position: 0 -67px;
}
.tile--two {
  background-position: -17px -67px;
}
.tile--three {
  background-position: -34px -67px;
}
.tile--four {
  background-position: -51px -67px;
}
.tile--five {
  background-position: -68px -67px;
}
.tile--six {
  background-position: -85px -67px;
}
.tile--seven {
  background-position: -102px -67px;
}
.tile--eight {
  background-position: -119px -67px;
}

.tile-bomb {
  background-position: -85px -50px;
}
.tile-bomb--focus {
  background-position: -102px -50px;
}
.tile-bomb--disable {
  background-position: -119px -50px;
}

.tile-question {
  background-position: -51px -50px;
}
.tile-question--focus {
  background-position: -68px -50px;
}

.start-button {
  width: 26px;
  height: 26px;
  background-image: url("../img/sprite.png");
  background-position: 0 -24px;
  cursor: pointer;
}
.start-button:active {
  background-position: -27px -24px;
}
.start-button--tile-focus {
  background-position: -54px -24px;
}
.start-button--win {
  background-position: -81px -24px;
}
.start-button--lose {
  background-position: -107px -24px;
}

.numeric {
  width: 14px;
  height: 24px;
  background-image: url("../img/sprite.png");
  background-position: 0 0;
}
.numeric--zero {
  background-position: -125px 0;
}
.numeric--one {
  background-position: 0 0;
}
.numeric--two {
  background-position: -14px 0;
}
.numeric--three {
  background-position: -27px 0;
}
.numeric--four {
  background-position: -41px 0;
}
.numeric--five {
  background-position: -55px 0;
}
.numeric--six {
  background-position: -69px 0;
}
.numeric--seven {
  background-position: -83px 0;
}
.numeric--eight {
  background-position: -97px 0;
}
.numeric--nine {
  background-position: -111px 0;
}